@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

span {
  font-size: 14px;
  white-space: pre-line;
}

body,
input,
button {
  font-family: "Raleway";
  font-size: 16;
}

h2 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 0.8rem;
}

h3 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
}
